<!--  C1: K dùng Bootstrap
<div>
  <h2> Employee List</h2>
</div>

<table class = "table table-striped">
  <thead>
  <tr>
    <th> First Name</th>
    <th> Last Name </th>
    <th> Email </th>
    <th> Actions </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor = "let employee of employees" >
    <td> {{ employee.firstName }} </td>
    <td> {{ employee.lastName }} </td>
    <td> {{ employee.email }} </td>
    <td>
&lt;!&ndash;      <button (click) = "updateEmployee(employee.id)" > Update</button>&ndash;&gt;
&lt;!&ndash;      <button (click) = "deleteEmployee(employee.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>&ndash;&gt;
&lt;!&ndash;      <button (click) = "employeeDetails(employee.id)" class = "btn btn-primary" style="margin-left: 10px"> View</button>&ndash;&gt;
    </td>
  </tr>
  </tbody>
</table>
-->


<h3>Employee List</h3>
<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col">{{'Id' | translate }}</th>
    <th scope="col">{{'FirstName' | translate }}</th>
    <th scope="col">{{'LastName' | translate }}</th>
    <th scope="col">{{'Email' | translate }}</th>
    <th scope="col">{{'Actions' | translate }}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let employee of employees">
    <td> {{ employee.id }} </td>
    <td> {{ employee.firstName }} </td>
    <td> {{ employee.lastName }} </td>
    <td> {{ employee.email }} </td>
    <td>
      <button class="btn btn-info"> Update</button>
      <button class="btn btn-danger" (click) = "deleteEmployee(employee.id)">Delete</button>
      <button class="btn btn-info" (click) = "infoEmployee(employee.id)">View</button>
    </td>
  </tr>
  </tbody>
</table>
