<h2 class=""> Add Employee</h2>


<!-- C1: K dùng Bootstrap -->
<!--<form (ngSubmit)="onSubmit()">-->
<!--  <div>-->
<!--    <label> First Name </label>-->
<!--    <input id="firstName" [(ngModel)]="employee.firstName" name="fName">-->
<!--  </div>-->

<!--  <div>-->
<!--    <label> Last Name </label>-->
<!--    <input id="lastName" [(ngModel)]="employee.lastName" name="lastName">-->
<!--  </div>-->

<!--  <div>-->
<!--    <label> Email </label>-->
<!--    <input id="email" [(ngModel)]="employee.email" name="email">-->
<!--  </div>-->

<!--  <button class="button" type="submit">Add</button>-->
<!--</form>-->


<!-- C2: Dùng Bootstrap -->
<form>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" class="form-control" [(ngModel)]="employee.firstName" id="firstName" placeholder="First Name">

    <label for="lastName">Last Name </label>
    <input type="text" class="form-control" id="lastName" placeholder="Last Name">

    <label for="email">Email </label>
    <input type="text" class="form-control" id="email" placeholder="Email">
  </div>

  <button type="submit" type="submit" class="btn btn-primary">Add</button>
</form>
