<h2 class="">Add Employee</h2>
<!-- C1: K dùng Bootstrap -->
<!--<form (ngSubmit)="onSubmit()">-->
<!--  <div>-->
<!--    <label> First Name </label>-->
<!--    <input id="firstName" [(ngModel)]="employee.firstName" name="fName">-->
<!--  </div>-->

<!--  <div>-->
<!--    <label> Last Name </label>-->
<!--    <input id="lastName" [(ngModel)]="employee.lastName" name="lastName">-->
<!--  </div>-->

<!--  <div>-->
<!--    <label> Email </label>-->
<!--    <input id="email" [(ngModel)]="employee.email" name="email">-->
<!--  </div>-->

<!--  <button class="button" type="submit">Add</button>-->
<!--</form>-->


<!-- C2: Dùng Bootstrap -->
<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>First Name</label>
    <input id="firstName" type="text" class="form-control" [(ngModel)]="employee.firstName" name="fName">
  </div>

  <div class="form-group">
    <label>Last Name</label>
    <input id="lastName" type="text" class="form-control" [(ngModel)]="employee.lastName" name="lastName">
  </div>

  <div class="form-group">
    <label>Email</label>
    <input id="email" type="text" class="form-control" [(ngModel)]="employee.email" name="email">
  </div>
  <button type="submit" class="btn btn-primary" style="margin-top: 15px">Add</button>
</form>
